.titlec {
    font-size: 200%;
    font-family: Times New Roman;
    border: 1px;
    width: 100%;
    left: calc(100%-5%);
    background-color: #FF6347;
    color: #ffffff;
    height: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.left_box {
    font-size: 120%;
    float: left;
    position: relative;
    box-shadow: 0px 0px 1px #000000;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 48%;
    border: 1px;
}

.right_box {
    font-size: 120%;
    background-color: #ffffff;
    float: left;
    position: relative;
    box-shadow: 0px 0px 1px #000000;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 48%;
    border: 1px;
}

.form_t {
    margin-left: 10px;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}
